<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLbw-Oc9r2K82YZ2e-ZpLYGt98jS-ZM1A</string>
	<key>GCM_SENDER_ID</key>
	<string>633300206578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.customer.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pamphere-f2557</string>
	<key>STORAGE_BUCKET</key>
	<string>pamphere-f2557.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633300206578:ios:17767f46697d0e238b616b</string>
</dict>
</plist>